<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Directory Browser Client</title>
    <script>
        window.apiUri = "<%= htmlWebpackPlugin.options.apiUri %>";
    </script>
</head>

<body>
    <dir-browser-app id="app"></dir-browser-app>
</body>

</html>